<!-- <nav
    class="collapsesidenav md:left-0 mx-auto md:block md:fixed md:top-0 md:bottom-0 md:border-r md:overflow-y-auto scrollbar md:flex-row md:flex-nowrap md:overflow-hidden shadow  flex flex-wrap flex-column items-center justify-between relative md:w-64 z-10 py-4 px-3">
    <div
        class="md:flex-col md:items-stretch md:min-h-full md:flex-nowrap px-0 flex flex-wrap items-center justify-between w-full mx-auto">
        <div class="grid grid-cols-5 mb-2 items-center justify-center">
            <div class="w-12 h-12 bg-white rounded-full flex items-center justify-center">
                <a [routerLink]="['/']"><img src="../../assets/image/Sikkim-PSC-Logo.png" alt="Logo"></a>
            </div>
            <div class="mt-4 font-bold text-white uppercase col-span-3">
                <a [routerLink]="['/']"><span>SIKKIM POWER</span></a>
            </div>
            
        </div>
        <p>hello</p>
    </div>

   
</nav> -->

<div id="mySidenav" class="sidenav">
    <a class="closebtn">&times;</a>
    <a href="#">About</a>
    <a href="#">Services</a>
    <a href="#">Clients</a>
    <a href="#">Contact</a>
  </div>