<div class="outer">
    <div class="container">
        <div class="row">
            <div class="offset-md-2 col-lg-5 col-md-7 offset-lg-4 offset-md-3">
                <div class="panel border bg-white">
                  <div class="text-center mb-2">
                    <img img-src="https://identityssoui.tourgenie.biz/Images/logo.png" class="img-fluid w-25"
                      alt="Sikkim Power" src="https://identityssoui.tourgenie.biz/Images/logo.png">
                  </div>
                    <div class="panel-heading">
                        <h3 class="pt-3 font-weight-bold">
                            Register
                        </h3>
                    </div>
                    <div class="panel-body p-3">
                        <form [formGroup]="signup_form">
                          <div class="form-group pt-3">
                            <div class="input-field" [class.error]="signup_form.controls['firstname'].dirty && signup_form.hasError('required', 'firstname')">
                              <span class="fa fa-user p-2"></span>
                              <input formControlName="firstname" type="text" placeholder="First Name" >
                            </div>
                          </div>
                          <small *ngIf="signup_form.controls['firstname'].dirty && signup_form.hasError('required', 'firstname')" class="text-danger">*First name is required</small>
                          
                          <div class="form-group pt-3">
                            <div class="input-field" [class.error]="signup_form.controls['lastname'].dirty && signup_form.hasError('required', 'lastname')">
                              <span class="fa fa-user p-2"></span>
                              <input formControlName="lastname" type="text" placeholder="Last Name">
                            </div>
                          </div>
                          <small *ngIf="signup_form.controls['lastname'].dirty && signup_form.hasError('required', 'lastname')" class="text-danger">*Last name is required</small>

                          <div class="form-group pt-3">
                            <div class="input-field" [class.error]="signup_form.controls['username'].dirty && signup_form.hasError('required', 'username')">
                              <span class="fa fa-user p-2"></span>
                              <input formControlName="username" type="text" placeholder="Username">
                            </div>
                          </div>
                          <small *ngIf="signup_form.controls['username'].dirty && signup_form.hasError('required', 'username')" class="text-danger">*Username is required</small>
                          
                          <div class="form-group pt-3">
                            <div class="input-field" [class.error]="signup_form.controls['email'].dirty && (signup_form.hasError('required', 'email') || signup_form.hasError('email'))">
                              <span class="fa fa-envelope p-2"></span>
                              <input formControlName="email" type="email" placeholder="Email" class=" no-border">
                            </div>
                          </div>
                          <small *ngIf="signup_form.controls['email'].dirty && signup_form.hasError('required', 'email')" class="text-danger">*Email is required</small>
                          <small *ngIf="signup_form.controls['email'].dirty && signup_form.hasError('email')" class="text-danger">*Invalid email format</small>
                          
                          <div class="form-group pt-3">
                            <div class="input-field" [class.error]="signup_form.controls['password'].dirty && signup_form.hasError('required', 'password')">
                              <span class="fa fa-lock p-2"></span>
                              <input formControlName="password" [type]="type" placeholder="Password">
                              <span (click)="hideShowPass()" class="fa {{eyeIcon}}"></span>
                            </div>
                          </div>
                          <small *ngIf="signup_form.controls['password'].dirty && signup_form.hasError('required', 'password')" class="text-danger">*Password is required</small>
                          
                          <div class="form-inline fr mt-4">
                            <a id="forget" href="" class="font-weight-bold">Forgot Password?</a>
                          </div>
                          <button (click)="onSignUp()" class="btn btn-primary btn-block rounded-2 mt-4 w-100 bg-[#007bff]">
                            Sign Up
                          </button>
                          <div class="text-center pt-4 text-muted">Already have an account?
                            <a id="login" routerLink="/login">Login</a>
                          </div>
                        </form>
                      </div>
                      
                      




                </div>
            </div>
        </div>
    </div>
</div>